version: "3.9"

services:
  labyrinth_api:
    build:
      context: .
    container_name: labyrinth_backend_api
    image: rochel05/labyrinth_backend_api
    ports:
      - 8000:8000
    env_file: .env
    restart: always
